@use './../../global/mixins' as mixin;

.image-card {
  @include mixin.card_width_max();
  display: inline-block;
  padding: 24px;
  margin: 20px;
  border-image-slice: 50;
  border-image-width: 50px;
  background-color: var(--color-background-secondary);


  &:hover {
    border-image-source: url("/img/info-card-hover-1x.webp");
  }

  &:active {
    @include mixin.outline_card();
  }

  &__text {
    @include mixin.text2();
  }

  &__heading {
    @include mixin.heading2();
  }

  &__img {
    width: 100%;
    overflow: hidden;
    aspect-ratio: 3.5 / 1;
    object-position: center;
    object-fit: cover;

  }

  &__img--big {
    aspect-ratio: 1 / 1;
    object-position: center;
    object-fit: cover;
  }

  &__btn {
    background-color: var(--color-background-alternative);
  }
}