@use './../../global/mixins' as mixin;
.image-card {
    display: inline-block;
    padding: 24px;
    margin: 20px;
    border-image-slice: 50;
    border-image-width: 50px;
    background-color: var(--color-background-secondary);
    @include mixin.card_width_max();
  
    &:hover {
      border-image-source: url("img/info-card-hover-1x.webp");
    }
  
    &:active {
      @include mixin.outline_card();
    } 
    &__text {
      @include mixin.text2();
    }
  
    &__heading {
      @include mixin.heading2();
    }
  
    &__img {
      object-fit: cover;
      object-position: -19px -203px;
  
      &--big {
        object-position: center;
        object-fit: cover;
      }
    }
  
    &__btn {
      background-color: var(--color-background-alternative);
    }
  }

  
// .image-card__heading {
//     font-weight: 400;
//     font-size: 36px;
// }

// .image-card__img {

//     object-fit: cover;
//     object-position: -19px -203px
// }

// .image-card__img--big {

//     object-position: center;
//     object-fit: cover;

// }

// .image-card {
//     display: inline-block;
//     padding: 24px;
//     margin: 20px;
//     max-width: 784px;
//     border-image-slice: 50;
//     border-image-width: 50px;
//     background-color: var(--color-background-secondary);

// }

// .image-card:hover {
//     border-image-source: url("../../assets/info-card-hover.webp");
// }

// .image-card:active {
//     outline: 2px solid var(--color-primary-hover);
// }
// .image-card__btn {

//     background-color: var(--color-background-alternative);
// }
