@use './../../global/mixins' as mixin;
.main-image {
    &__img {
      object-fit: contain;
      width: 1024px;
      height: 557px;
    }
  
    &__mark,
    &__label {
      background-color: var(--color-primary);
      color: var(--color-secondary);
    }
  
    &__heading {
      @include mixin.heading1();
    }
  
    &__text,
    &__list {
      @include mixin.text1();
    }
  }
  
  .main-info {
    &__text {
      @include mixin.text1();
    }
  }
  
// .main-image__img {
//     object-fit: contain;
//     width: 1024px;
// }

// .main-image__mark {
//     background-color: var(--color-primary);
//     color: var(--color-secondary);
// }

// .main-image__label {
//     background-color: var(--color-primary);
//     color: var(--color-secondary);
// }

// .main-image__heading {
//     @include mixin.heading1();
// }

// .main-image__text, .main-image__list, .main-info__text {
//     font-size: 18px;
//     line-height: 28px;
// }

// .main-image__img {
//     width: 1024px;
//     height: 557px;
// }
