@use './../../global/mixins' as mixin;

.main-info {
    display: inline-block;
  
    &__image {
      width: 500px;
      margin-left: 0;
    }
  
    &__img-container {
      display: flex;
    }
  
    &__heading {
      @include mixin.subheading3();
    }

    &__text {
      @include mixin.text1();
    }
  }
