@use './../../global/mixins' as mixin;

.main-info {
  display: inline-block;

  &__image {
    margin: 0;
    width: 100%;
  }

  &__img {
    width: 100%;
  }

  &__img-container {
    display: flex;
    gap: 24px;
  }

  &__heading {
    @include mixin.subheading3();
  }

  &__text {
    @include mixin.text1();
  }
}
