@use './../../global/mixins' as mixin;
@use "./../../global/breakpoints" as bp;

.our-blog {
  &__wrapper {
    gap: 32px;
    max-width: 1512px;
    flex-direction: row;

    @include bp.md {
      flex-direction: column;
    }
  }

  &__aside-menu {
    position: sticky;
    align-self: start;
    width: 328px;
    flex-shrink: 0;

    @include bp.md {
      width: 100%;
    }
  }

  &__tags {
    background-color: var(--color-background-alternative);
    padding: 1.5rem;
    margin-top: 21px;
  }


}