@use './../../global/mixins' as mixin;

.our-blog {
    background-image: url("/img/background-our-blog-1x.webp");
    background-repeat: no-repeat;
    // background-position: center;
    padding: 2px;
  
    &__heading {
      @include mixin.heading1();
      font-family: var(--font-family-secondary);
      text-align: center;
      margin: 62px 0 20px;
    }
  
    &__menu {
      display: flex;
      justify-content: center;
      margin: 0 auto 198px;
      list-style-type: none;
      gap: 18px;

    }
  
    &__item {
      font-weight: 600;
    }
  }
  
 
  
