@use './../../global/mixins' as mixin;

.share {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 10px;

  &__item {
    @include mixin.border_tags();
  }

  &__link {
    display: block;
    padding: 6px;
  }

  &__icon {
    display: block;
  }
}