@use './../../global/mixins' as mixin;
@use "./../../global/breakpoints" as bp;

.aside-form {
    width: 320px;
    position: sticky;
    top: 1.25rem;
    align-self: start; 
    height: max-content;
    @include bp.sm {
        display: none;
      }

    &__details {
        padding: 1.5rem;
        margin-bottom: 21px;
    }

}