@use './../../global/mixins' as mixin;

.aside-form {
    width: 31.25rem;
    position: sticky;
    top: 1.25rem;
    align-self: start; 
    height: max-content;

    &__details {
        padding: 1.5rem;
        margin-bottom: 21px;
    }

}