@use './../../global/mixins' as mixin;
@use "./../../global/breakpoints" as bp;

.catalog {

    &__wrapper {
        gap: 4rem;
        flex-direction: column;

    }

    &__content {
        flex: 1;
    }
    &__mobile-filter
    {
        @include bp.md {
         display: none;
          }
          @include bp.xs{
            display: block;
            
             }

    }


}