@use './../../global/mixins' as mixin;

.products-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
    margin-bottom: 1.5rem;
   

    & > .product-card {
        flex: 1 1 150px;
    }

}