@use './../../global/mixins' as mixin;

.sorting {
    &__block {
        background-color: var(--color-background);
        display: grid;
        grid-template-columns: 1fr auto;
        gap: 1rem 2rem;
        align-items: center;
        margin-bottom: 40px;
    }

    &__controls {
        grid-column: 2 / 3;
        display: flex;
        gap: 1rem;
        align-items: center;
        flex-wrap: wrap;

    }

    &__heading {
        grid-column: 1 / 2;
        margin-top: 0;
    }

    &__search {
        input {
            background-color: var(--color-background-secondary);
        }
    }

    &__filters {

        background-color: var(--color-background-alternative);
        grid-column: 1 / -1;
        display: flex;
        flex-wrap: wrap;
        gap: 0.5rem;
        margin-top: 0.5rem;
        padding: 16px;
    }

    &__select {
        color: var(--color-secondary);
    }

    &__filter-tag {
        background-color: var(--color-background-secondary);


        &::after {
            content: url("/img/cross.svg");
            position: relative;
            top: 0px;
            right: -18px;
        }
    }

    &__dropdown,
    &__search {
        display: flex;
        align-items: center;
        gap: 24px;
    }

    &__dropdown-options {
        background-color: var(--color-background-dropdown);
        padding-bottom: 36px;
        max-width: 173px;
    }


    &__controls> :first-child,
    &__controls> :nth-child(2) {
        display: flex;
        gap: 1rem;
    }

    &__filter-tag {
        @include mixin.border_tags();
        background-color: var(--color-background-alternative);
        color: var(--color-secondary);
        padding: 6px 36px 6px 12px;
        text-align: left;
    }




}