@use './../../global/mixins' as mixin;

.sorting {
    &__block {
        background-color: var(--color-background);

    }

    &__filters {
        background-color: var(--color-background-alternative);
    }

    &__filter-tag {
        @include mixin.border_tags();
        background-color: var(--color-background-alternative);
        color: var(--color-secondary);
        padding: 6px 36px 6px 12px;
    }

    &__dropdown {
        position: relative;
    }

    &__dropdown-element {
        background-color: var(--color-background-dropdown);
        color: var(--color-secondary);

    }

    &__dropdown-button {
        padding: 10px 56px 10px 24px;
        background-color: var(--color-background);
        color: var(--color-secondary);
        border-color: var(--color-border-transparent);

    }

    &__dropdown-button::after {
        content: url("/img/chevron-up.svg");
        position: absolute;
        left: 93px;
        top: 9px;

    }

}