@use './../../global/mixins' as mixin;

.sorting {
    &__block {
        background-color: var(--color-background);


    }

    &__search {
        input {
            background-color: var(--color-background-secondary);
        }
    }

    &__filters {
        background-color: var(--color-background-alternative);
        padding: 16px;
        

    }

    &__select {
        color: var(--color-secondary);
    }

    &__filter-tag {

        &::after {
            content: url("/img/cross.svg");
            position: relative;
            top: 0px;
            right: -18px;
        }
    }

    &__dropdown-options {
        background-color: var(--color-background-dropdown);
        padding-bottom: 36px;
        max-width: 173px;
        // display: none;



    }

    &__filter-tag {
        @include mixin.border_tags();
        background-color: var(--color-background-alternative);
        color: var(--color-secondary);
        padding: 6px 36px 6px 12px;
        text-align: left;
    }



}