@use './../global/mixins' as mixin;

.footer {
    background-color: var(--color-background-alternative);
  
    &__text {
      @include mixin.text3();
    }
  
    &__link {
      @include mixin.text4();
      color: var(--color-secondary);
    }
    &__main {
      display: flex;
      justify-content: space-between;
      margin-top: 4rem;
    }
    &__subscribe {
      display: flex;
      gap: 1.5rem;
    }
    &__bottom{
      display: flex;
      justify-content: space-between;
      border-top: 2px solid var(--color-border-transparent);
    }
    &__links-block {
      display: flex;
     gap: 0.625rem;
    }
    &__nav-block, &__block-pages   {
      padding-inline-start:0;
    }
    &__license-block {
      padding-top: 1.25rem;
    }

  
  
  }
