.banner__heading {
    font-family: var(--font-family-secondary);
    font-weight: 400;
    font-size: 52px;
    color: var(--color-secondary);

}

.banner__heading--highlight {
    color: var(--color-primary);
}

.heading--highlight {
    color: var(--color-primary);
}

.banner__text {
    font-size: 20px;
    font-weight: 500;
}

.banner__statistics-numbers {
    font-family: var(--font-family-secondary);
    font-size: 52px;
    font-weight: 400;
    text-shadow: #F5F8FB 1px 0 10px;
}

.banner__statistics-text {
    font-size: 16px;
    font-weight: 400;
}
.banner {
    background: radial-gradient(42.5% 42.5% at 22.28% -4.22%, 
    rgba(2, 101, 220, 0.5) 0%, rgba(2, 101, 220, 0) 100%);
}

.banner__wrapper{
    margin: 0 auto;
    max-width: 1600px;
    display: flex;
    gap: 12px;
    padding: 100px;
}

.slider__product-card {
    display: flex;
}
.product-card {
    display: inline-block;
}

