.product-card__price {
    font-family: var(--font-family-secondary);
    font-weight: 400;
    font-size: 36px;
}

.product-card__title {
    font-weight: 500;
    font-size: 20px;
}

.product-card__label--sold {
    background-color: var(--color-critical);
    color: var(--color-secondary);
}

.product-card {
    padding: 24px;
    border-image-slice: 50;
    border-image-width: 50px;
    background-color: var(--color-background-alternative);
    object-fit: cover; 
}

.product-card:hover {
    border-image-source: url("../../assets/info-card-hover.webp");
}
.product-card:active{
    outline: 2px solid var(--color-primary-hover);

}