* {
    box-sizing: border-box;
  }

  html {
    font-size: 16px;
  }
  
  body {
    font-family: var(--font-family-primary);
    color: var(--color-secondary);
    background-color: var(--color-background);
    font-weight: 400;
  }
  
  a,
  button {
    text-decoration: none;
    outline: 0 solid transparent;
    outline-offset: 0;
  
    &,
    summary {
      cursor: pointer;
    }
  }
  
  footer {
    li {
      list-style-type: none;
    }
  }
  li {
    list-style-type: none;
  }