@use "./../global/breakpoints" as bp;


@mixin heading1() {
    font-size: 3.25rem;
    line-height: 62px;
    font-weight: 400;
    @include bp.sm {
        font-size: 32px;

         }
}

@mixin heading2() {
    font-size: 36px;
    line-height: 48px;

    @include bp.sm {
   font-size: 28px;

    }
}

@mixin heading3() {
    font-size: 1.75rem;
    line-height: 36px;
}

@mixin subheading3() {
    font-size: 1.75rem;
    line-height: 36px;
}

@mixin subheading4() {
    font-size: 1.5rem;
    line-height: 32px;
}

@mixin subheading5() {
    font-size: 1.25rem;
    line-height: 32px;
    font-weight: 500;
}

@mixin text1() {
    font-size: 18px;
    line-height: 1.75rem;
}

@mixin text2() {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
}

@mixin text3() {
    font-size: 14px;
    font-weight: 600;
    line-height: 1.25rem;
}

@mixin text4() {
    font-size: 0.75rem;
    line-height: 1rem;
    font-weight: 600;

}

@mixin border_tags() {
    border: 2px solid var(--color-border-transparent)
}

@mixin card_width_max() {
    max-width: 784px;
}

@mixin outline_card() {
    outline: 2px solid var(--color-primary-hover);

}

@mixin round_border() {
    border-radius: 50%;

}

@mixin border_focus_visible() {
    outline: 2px solid var(--color-focus-border);
    border-radius: 5px;
}

@mixin input() {
    @include text3();
    @include border_tags();
    width: 100%;
    color: var(--color-secondary);
    padding: 10px 8px;
    background: transparent;
    background-color: var(--color-background);
    transition: border .25s ease, outline .25s ease;

    &:hover {
        border-color: var(--color-primary-hover);
    }

    &:focus-visible {
        border-color: var(--color-focus-border);
        outline: 2px solid var(--color-focus-border);
        outline-offset: 0;
    }
}