@use './mixins' as mixin;

.page-header {
    background-image: url("/img/background-our-blog-1x.webp");
    background-repeat: no-repeat;
    padding: 2px;
    background-size: cover;
    background-position: center bottom;
    margin-bottom: 64px;

  &__heading {
    @include mixin.heading1();
    font-family: var(--font-family-secondary);
    text-align: center;
    margin: 62px 0 20px;
  }

  &__menu {
    display: flex;
    justify-content: center;
    margin: 0 auto 198px;
    list-style-type: none;
    gap: 18px;

  }

  &__item {
    font-weight: 600;
  }
}