{% extends 'layouts/base.njk' %}

{% block styles %}
  <link rel="stylesheet" href="/css/home.css" />
{% endblock %}

{% set activePage = 'Home' %}

{% block content %}

  {% include 'partials/home/banner.njk' %}
  {% include 'partials/home/products-slider.njk' %}
  {% include 'partials/home/our-blog.njk' %}
  {% include 'partials/home/about-us.njk' %}
  {% include 'partials/home/our-team.njk' %}
  {% include 'partials/home/faq.njk' %}

{% endblock %}