<section class="blog">
  <div class="blog__wrapper wrapper wrapper--column">
  <h2 class="blog__heading heading">{{ blog__heading}}</h2>
  <div class="blog__block">

    {% for item in blog_card %}
      {% include "partials/blog-card.njk" %}
    {% endfor %}

    
  </div>
  <button class="blog__button button button--secondary">{{ button_read_more }}</button>
  </div>
</section>