<section class="products-slider">
  <div class="products-slider__wrapper wrapper wrapper--column">

    <header class="products-slider__header">
      <h2 class="products-slider__heading">
        <img src="img/folder.svg" class="products-slider__img" alt="folder">
        {{ slider.heading }}
      </h2>
      <div class="products-slider__header-actions">
        <button type="button" class="products-slider__btn button button--secondary divider-vertical divider-vertical--right">
          {{ slider.button }}
        </button>
        <button type="button"  class="products-slider__arrow-left  button button--secondary">
          <img src="img/arrow-left.svg" class="products-slider__arrow-img" alt="arrow-left">
        </button>

        <button  type="button" class="products-slider__arrow-right button button--primary">
          <img src="img/arrow-right.svg"
              class="products-slider__arrow-img" alt="arrow-right">
        </button>
      </div>
    </header>

    <div class="products-slider__cards">
      {% for item in product_card %}
        {% include "partials/common/product-card.njk" %}
      {% endfor %}
    </div>
  </div>

</section>