<footer class="footer">
    <div class="footer__top">
      <div class="footer__logo-wrap">
        <img class="footer__logo logo_img" src="assets/logo.svg" alt="Logo" />
        <img src="assets/logo-heading.svg" class="logo__heading" alt="Logo"></img>
        <p class="footer__text">We are the best way to check the rarity of NFT collection.</p>
      </div>

      <div class="footer__subscribe">
        <div class="footer__nav subscribe-nav">
          <p class="subscribe-nav__heading">Subscribe</p>
          <ul class="subscribe-nav__block">
            <li class="subscribe-nav__item"><a class="footer-link link" href="#">Home</a></li>
            <li class="subscribe-nav__item"><a class="footer-link link" href="#">Blog</a></li>
            <li class="subscribe-nav__item"><a class="footer-link link" href="#">Slider</a></li>
            <li class="subscribe-nav__item"><a class="footer-link link" href="#">Contact Us</a></li>
          </ul>
        </div>

        <div class="footer__info">
          <p class="footer__heading">Company</p>

          <ul class="footer__block-pages info-pages">
            <li class="info-pages__item"><a class="footer-link link" href="#">Terms Conditions</a></li>
            <li class="info-pages__item"><a class="footer-link link" href="#">Privacy Policy</a></li>
            <li class="info-pages__item"><a class="footer-link link" href="#">White paper</a></li>
            <li class="info-pages__item"><a class="footer-link link" href="#">Help Center</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="footer__license license">
      <div class="license__block">
        <small class="license__text">BINABOX 2022 - ALL rights reserved</small>
      </div>

      <div class="footer__social">
        <ul class="footer__links-block social">
          <li class="social__link">
            <a href="#"><img class="social__img" src="assets/twitter.svg" alt="twitter" /></a>
          </li>
          <li class="social__link">
            <a href="#"><img class="social__img" src="assets/facebook.svg" alt="facebook" /></a>
          </li>
          <li class="social__link">
            <a href="#"><img class="social__img" src="assets/telegram.svg" alt="telegram" /></a>
          </li>
          <li class="social__link">
            <a href="#"><img class="social__img" src="assets/tiktok.svg" alt="tik-tok" /></a>
          </li>
          <li class="social__link">
            <a href="#"><img class="social__img" src="assets/discord.svg" alt="discord" /></a>
          </li>
        </ul>
      </div>
    </div>
  </footer>