 <header class="header">
    <a class="header__link logo" href="/">
      <img class="header__logo logo_img" src="assets/logo.svg" alt="Logo" />
      <img src="assets/logo-heading.svg" class="logo__heading" alt="Logo"></img>
    </a>
    <nav class="header__navigation">
      <ul class="header__list">
        <li class="header__element"><a class="header__link-menu header__link--active" href="#">Home</a></li>
        <li class="header__element"><a class="header__link-menu" href="#">Blog</a></li>
        <li class="header__element"><a class="header__link-menu" href="#">Slider</a></li>
        <li class="header__element"><a class="header__link-menu" href="#">Contact Us</a></li>
      </ul>
    </nav>
    <div class="header__search">
      <div class="search divider-vertical divider-vertical--right">
        <img class="search__icon" src="assets/search.svg" alt="Search" />
        <input class="search__input" type="search" placeholder="Search" />
      </div>


    </div>

    <div class="header__btn">
      <a class="button button--secondary" href="#" target="_blank">
        <img src="assets/discord.svg" class="button__icon button__icon--left" alt="discort" />
        Discord
      </a>
      <button class="button button--primary">
        <img src="assets/wallet.svg" class="button__icon button__icon--left" alt="wallet" />
        Connect</button>
    </div>

  </header>