 {% for item in product_card %}


    <figure class="slider__product-card product-card">
      <img class="product-card__img" width="{{ item.width }}" height="{{ item.height }}" src="{{ item.img }}" alt="{{ item.alt }}"/>
      
      <figcaption class="product-card__description">
        <p class="product-card__price">
          {{ item.currency }}
          {{ item.price }}</p>
        <p class="product-card__title">
          {{ item.title }}
        </p>
        <p class="product-card__label label">{{ item.label }}</p>
      </figcaption>
    
    </figure>

  {% endfor %}