 <header class="slider__header">
        <h2 class="slider__heading ">
          <img src="assets/folder.svg" class="slider__img" alt="folder">
          {{ slider.heading }}
        </h2>
        <div class="slider__header__actions">
          <button class="slider__btn button button--secondary divider-vertical divider-vertical--right">
          {{ slider.button }}  </button>
          <button class="slider__arrow-left  button button--secondary btn-arrow btn-arrow--right"><img
              src="assets/arrow-left.svg" class=" btn-arrow__img arrow--leff" alt=""></button>
          <button class="slider__arrow-right button button--primary btn-arrow"><img src="assets/arrow-right.svg"
              class="btn-arrow__img arrow--right" alt=""></button>
        </div>
      </header>