{% extends 'layouts/base.njk' %}

{% block styles %}
  <link rel="stylesheet" href="/css/catalog.css"/>
{% endblock %}
{% set activePage = 'Catalogue' %}

{% block content %}

  {% include 'partials/common/page-header.njk' %}

  <section class="catalog">
    <div class="catalog__wrapper wrapper">
      <div class="catalog__mobile-filter select__block button button__primary">Filters</div>
      {% include 'partials/catalog/aside-form.njk' %}
      <div class="catalog__content">
        {% include 'partials/catalog/sorting-form.njk' %}
        {% include 'partials/catalog/products-list.njk' %}
      </div>
    </div>
  </section>

{% endblock %}