<header>
    <h1 class="our-blog__heading">{{ our_blog_heading }}</h1>
    <ul class="our-blog__menu">
        {% for item in our_blog %}
            <li class="our-blog__item">{{ item.link }}</li>
        {% endfor %}
    </ul>
</header>