 <section class="blog-tags">
      <h2 class="blog-tags__heading">{{ footer_tags__heading }}</h2>
      <ul class="blog-tags__block">
        {% for item in tags_block %}
        <li class="blog-tags__item label"><a class="blog-tags__link" href="#">{{ item.label }}</a></li>
      {% endfor %}
      </ul>
      <h3 class="blog-tags__share share">{{ share_heading }}</h3>
      <ul class="share__block">
        {% for item in share_block %}
        <li class="share__item"><a class="share__link" href="{{ item.href }}"><img class="share__icon" src="{{ item.src }}"
              alt="{{ item.alt }}"></a></li>
       {% endfor %}
      </ul>
    </section>