@use './../../global/mixins' as mixin;

.contact-info {
    display: flex;
    justify-content: center;
    
    &__block {
        display: flex;
        gap: 1rem;
    }
    
    &__item {
        border: 1px solid var(--border-contact-page);
        text-align: center;
        width: 288px;
        padding: 2.5rem 32px;
        

        // &:not(:last-child) {
        //     margin-right: 1rem;
        // }
    }

    &__title {
        @include mixin.heading2();

    }
    &__adress {
        @include mixin.text2();
        color: var( --color-secondary-invert );
    }
}