.details__heading {
    font-family: "var(--font-family-secondary)";
    ;
    font-style: 24px;
    list-style: 32px;
}

.details__text {
    font-size: 16px;
    line-height: 16px;
}

.faq__details details {
    background-color: var(--color-background-alternative);
}

.details__heading {
    list-style-type: none;

}