.our-blog__heading {
    font-family: var(--font-family-secondary);
    font-size: 56px;
    line-height: 62px;
    text-align: center;
   
}
.our-blog{
    background-image: url("./../../assets/background-our-blog.webp");
    background-repeat: no-repeat;
    background-position: center;
  
}
.our-blog__menu {
    display: flex;
    list-style-type: none;
   
}

.blog__heading{
    font-size: 36px;
}

.image-card__heading {
    font-weight: 400;
    font-size: 36px;
}

.card-blockquote__text {
    font-size: 16px;
    font-weight: 400;
}

.blog__card,
.image-card__btn {

    background-color: var(--color-background-alternative);
}

.our-blog__menu li:last-child {
    color: var(--color-elements-secondary);

}

.our-blog__item {
    font-weight: 600;

}
.aside-categories__heading {
    font-size: 24px;
    line-height: 32px;
}
.tags-menu__item {
    background-color: transparent;
    color: var(--color-secondary);
    border: 2px solid  #D0D7FB2B;
}

.blog__wrapper {
    display: flex;
   
}
.image-card__img{
    width: 736px;
    height: 198px;
    object-fit: cover;
    object-position: -19px -203px

}
.image-card__img--big {
    height: 664px;
    object-position: center;
    object-fit: cover;

}
.image-card{
    display: inline-block;
    padding: 24px;
    margin: 20px;
    max-width: 784px;
    border-image-slice: 50;
    border-image-width: 50px;
    background-color: var(--color-background-secondary);
 
}
.image-card:hover {
    border-image-source: url("../../assets/info-card-hover.webp");
}
.image-card:active {
    outline: 2px solid var(--color-primary-hover);
}
.main-info {
    display: inline-block
}
.main-image__img {
    object-fit: contain;
    width: 1024px;
}
.main-info__image {
    width: 500px;
}
.main-info__img-container {
    display: flex;
}
