@use './../../global/mixins' as mixin;

.about {
    &__heading {
      @include mixin.heading2();
      font-family: var(--font-family-secondary);
   
    }
  
    &__text {
      @include mixin.subheading5();
    }
  
    &__cards {
      display: flex;
      gap: 20px;
      counter-reset: cards-counter;
    }
  }
  
