@use './../../global/mixins' as mixin;

.info-card {
    display: inline-block;
    list-style: none;
    max-width: 300px;
    padding: 32px;
    border-image-slice: 50;
    border-image-width: 50px;
    background-color: var(--color-background-secondary);
  
    &:hover {
      border-image-source: url("img/info-card-hover-1x.webp");
    }
  
    &:active {
      @include mixin.outline_card();
    }
  
    &__heading {
      font-family: var(--font-family-secondary);
      @include mixin.subheading4();
      position: relative;
      z-index: 1;
  
      &::after {
        font-family: var(--font-family-secondary);
        font-size: 72px;
        line-height: 1;
        content: '0' counter(cards-counter);
        position: absolute;
        left: 0;
        bottom: -2px;
        color: var(--color-background-secondary);
        z-index: -1;
        -webkit-text-stroke: 1px rgb(from var(--color-primary) r g b / .5);
        counter-increment: cards-counter;
      }
    }
  
    &__text {
      font-family: var(--font-family-primary);
      @include mixin.text1();
    }
  }