@use "./../../global/breakpoints" as bp;

.slider {
  &__heading {
    margin-right: 9px;
    order: -1;

    @include bp.md {
      align-items: center;
     }
  }

  &__header {
    display: flex;
    align-items: center;

    &::before {
      content: '';
      height: 2px;
      background-color: var(--color-border-transparent);
      flex-grow: 1;
      margin-right: 0.625rem;
    }
  }

  &__cards {

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1.5rem;

   
    @include bp.md {
     display: flex;
     flex-wrap: inherit;
     overflow: hidden;
    }
  }

}