.slider {
    &__heading {
      display: inline-block;
      margin-right: 9px;
      order: -1;
    }
  
    &__header {
      display: flex;
      align-items: center;
  
      &::before {
        content: '';
        height: 2px;
        background-color: var(--color-border-transparent);
        flex-grow: 1;
        margin-right: 10px;
      }
    }
  }

// .slider__heading{
//     display: inline-block;
//     margin-right: 9px;
//     order: -1;

// }

// .slider__header {
//     display:flex;
//     align-items: center;
// }

// .slider__header::before {
// content: '';
// height: 2px;
// background-color: var(--color-border-transparent);
// flex-grow: 1;
// margin-right: 10px;

// }
// .slider__product-card {
//     display: flex;
// }
