<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bakbak+One&family=Poppins:wght@400;500;600&display=swap"
    rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css"/>
     <script>
        window.addEventListener("load", (event) => {
        const burgerOpener = document.querySelector(".js-burger");
        const filterOpener = document.querySelector(".js-filter");
        
        burgerOpener.addEventListener("click", () => {
          document.body.classList.remove("filter--active");
          document.body.classList.toggle("side-menu--active");
        });

        filterOpener.addEventListener("click", () => {
          document.body.classList.remove("side-menu--active");
          document.body.classList.toggle("filter--active");
        });

        window.addEventListener("resize", () => {
          document.body.classList.remove("side-menu--active");
          document.body.classList.remove("filter--active");
        });
      });
    </script>
    <script src="js/menu.js"></script>
    {% block styles %}{% endblock %}
    <title>{{ title_site }}</title>
  </head>
  <body>
    {% include "partials/common/header.njk" %}
    <main>
      {% block content %}default content{% endblock %}
    </main>
    {% include "partials/common/footer.njk" %}
  </body>
</html>