<input id="open-filter" type="checkbox" hidden="hidden">

<aside class="aside-form">
  <label for="open-filter" class="aside-form__filter-btn button button--secondary button--full-width">
    Filters
    <img src="img/folder.svg" class="button__icon button__icon--right" alt="folder">
  </label>

  <form class="aside-form__group">
    {% for filter in filters %}
      <details class="aside-form__details details" open>
        <summary class="details__heading">
          <h3 class="details__heading-item">{{ filter.name }}</h3>
        </summary>

        {% for item in filter.items %}

          <div class="details__label-name">
            <label class="details__label">
              <input class="details__{{ filter.type }} {{ filter.type }}" type="{{ filter.type }}"
                     name="{{ item.name }}" value="{{ item.value }}">
              {{ item.label }}
            </label>
          </div>

        {% endfor %}
      </details>
    {% endfor %}
    <button class="aside-form__button button button--primary" type="submit">Apply</button>
  </form>


</aside>