<section class="sorting">
    <form class="sorting__form">

        <div class="sorting__block">
            <h1 class="sorting__heading">All item</h1>
            <div class="sorting__controls">
                <div class="sorting__dropdown">
                    <button class="sorting__dropdown-button" onclick="toggleDropdown()">
          Sort by 
        </button>
                    <div id="dropdown" class="sorting__dropdown-options">
                        <button class="sorting__dropdown-element">Newest</button>
                        <button class="sorting__dropdown-element">Most popular</button>
                        <button class="sorting__dropdown-element selected">Increasing in price</button>
                        <button class="sorting__dropdown-element">Lowering the price</button>
                    </div>
                    <div class="sorting__search">
                        <div class="divider-vertical divider-vertical--right">
                            <label class="search">
                                <input class="search__input" type="search" placeholder="Search NFT"/>
                            </label>
                        </div>
                    </div>

                    <div class="sorting__filters">
                        <button class="sorting__filter-tag">NFT</button>
                        <button class="sorting__filter-tag">ICO</button>
                        <button class="sorting__filter-tag">Crypto</button>
                        <button class="sorting__filter-reset button-reset" type="reset">Clear all</button>
                    </div>

                </div>
            </form>
        </section>