@use './../../global/mixins' as mixin;
@use "./../../global/breakpoints" as bp;

.breadcrumbs {

    &__link {
        color: var(--color-secondary);
        font-size: 14px;


        &:hover {
            color: var(--color-primary-hover);
        }

        &:active {
            color: var(--color-primary-active);
        }

        &:focus-visible {
            color: var(--color-primary-active);
        }
    }

    &__text {
        color: var(--color-elements-secondary);
    }

}