.button {
    display: inline-block;
    padding: 10px 24px;
    font-size: 18px;
    line-height: 24px;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    border: 2px solid transparent;
    transition: all .25s ease;
}

.button--primary {
    background-color: var(--color-primary);
    color: rgba(245, 248, 251, 1);
}

.button--primary:hover {
    background-color: var(--color-primary-hover);
}

.button--primary:active {
    background-color: var(--color-primary-active);

}

.button--primary:focus-visible {
    border-color: var(--color-focus-border);
    outline: 2px solid var(--color-focus-border);
    outline-offset: 0;
}


.button--secondary {
    border-color: rgba(208, 215, 251, 0.17);
    color: rgba(245, 248, 251, 1);
    background-color: var( --transparent);
}

.button--secondary:hover {
    background-color: var(--color-secondary-hover);

}
.button--secondary:active {
    background-color: var(--color-secondary-active);

}

.button--secondary:focus-visible {
    border-color: var(--color-focus-border);
    outline: 2px solid var(--color-focus-border);
    outline-offset: 0;
}

.button__icon {
    display: inline-block;
    line-height: 20px;
    vertical-align: middle;

}

.button__icon--left {
    margin-right: 4px;
}