@use './../../global/mixins' as mixin;
@use "./../../global/breakpoints" as bp;

.button {
  @include mixin.text1();
  @include mixin.border_tags();
  display: flex;
  padding: 12px;
  font-size: 18px;
  line-height: 1.5rem;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  transition: background-color .25s ease, border .25s ease, color .25s ease;
  white-space: nowrap;
  cursor: pointer;

  &--full-width {
    width: 100%;
    justify-content: space-between;
  }



  &--primary {
    background-color: var(--color-primary);
    color: var(--color-secondary);

    &:hover {
      background-color: var(--color-primary-hover);
    }

    &:active {
      background-color: var(--color-primary-active);
    }

    &:focus-visible {
      @include mixin.outline_card();
      border-color: var(--color-focus-border);
      outline-offset: 0;
    }
  }

  &--secondary {
    border-color: rgba(208, 215, 251, 0.17);
    color: var(--color-secondary);
    background-color: var(--transparent);



    &:hover {
      background-color: var(--color-secondary-hover);
    }

    &:active {
      background-color: var(--color-secondary-active);
    }

    &:focus-visible {
      border-color: var(--color-focus-border);
      outline: 2px solid var(--color-focus-border);
      outline-offset: 0;
    }
  }

  &--full-width {
    width: 100%;
  }

  &__icon {
    display: flex;
    line-height: 1.25rem;
    vertical-align: middle;
  }

  // &__icon--close{
  //   visibility: hidden;
  // }
  &__icon--filter {
    content: url("/img/filter.svg");
    transition: content 0.3s ease;
  }

  &__icon--left {
    margin-right: 4px;
  }

  &__icon--right {
    margin-left: 4px;

  }
}