.divider-vertical {
    position: relative;
  
    &::after {
      content: '';
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 2px;
      height: 24px;
      background-color: var(--color-border-transparent);
    }
  
    &--right {
      margin-right: 20px;
  
      &::after {
        right: -15px;
      }
    }
  }
  