.divider-vertical {
    position: relative;
  
    &::after {
      content: '';
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 2px;
      height: 1.5rem;
      background-color: var(--color-border-transparent);
      margin-right: 4px;
    }
  
    &--right {
      margin-right: 1.25rem;
  
      &::after {
        right: -13125rem;
      }
    }
  }
  