@use "./../../global/breakpoints" as bp;

.logo {
  display: flex;
  align-items: center;
  gap: 18px;

  &__heading {
    display: block;
    width: 134px;
    color: var(--color-secondary);

    @include bp.sm {
      display: none;
    }
  }
}
