@use './../../global/mixins' as mixin;

.product-card {
  padding: 1.5rem;
  border-image-slice: 50;
  border-image-width: 50px;
  background-color: var(--color-background-alternative);
  object-fit: cover;
  margin: 0;
  position: relative;


  &:hover {
    border-image-source: url("/img/info-card-hover-1x.webp");
  }

  &:active {
    @include mixin.outline_card();
  }

  &__price {
    @include mixin.heading2();
    font-family: var(--font-family-secondary);
  }

  &__title {
    @include mixin.subheading5();
  }

  &__label--sold {
    background-color: var(--color-critical);
    color: var(--color-secondary);
  }

  &__label {
    position: absolute;
    top: 21px;
    right: 34px;
  }
  &__img{
    object-fit: cover;
    width: 100%;
  }
}