@use './../../global/mixins' as mixin;

.search {
    position: relative;
    display: inline-block;

    &:before {
        content: url("/img/search.svg");
        position: absolute;
        display: block;
        width: 1.25rem;
        height: 1.25rem;
        top: 14px;
        left: 0.625rem;
    }
    

    &__input {
        @include mixin.input();
        padding-left: 38px;
        
        &:user-invalid {
            border: 2px solid red;
        }
    }

}
