@use './../../global/mixins' as mixin;

.search {
    position: relative;
    display: inline-block;

    &__input {
        @include mixin.text3();
        @include mixin.border_tags();
        padding-left: 38px;
        color: var(--color-border-transparent);
        height: 48px;
        background: transparent;
        background-color: var(--color-secondary-hover);

        &:hover {
            border-color: var(--color-primary-hover);
        }

        &:focus-visible {
            border-color: var(--color-focus-border);
            outline: 2px solid var(--color-focus-border);
            outline-offset: 0;
        }
    }
}
