@use './../../global/mixins' as mixin;

.search {
    position: relative;
    display: inline-block;

    &:before {
        content: url("/img/search.svg");
        position: absolute;
        display: block;
        width: 20px;
        height: 20px;
        top: 14px;
        left: 10px;
    }

    &__input {
        @include mixin.input();
        padding-left: 38px;
    }
}
