{% extends 'layouts/base.njk' %}

{% block styles %}
  <link rel="stylesheet" href="/css/blog.css" />
{% endblock %}

{% set activePage = 'Blog' %}

{% block content %}
  {% include 'partials/common/page-header.njk' %}

  <section class="our-blog">
      <div class="our-blog__wrapper wrapper">
 {% include 'partials/blog/blog-aside.njk' %}
    <div class="our-blog__content">
    {% include 'partials/blog/blog-article.njk' %}
    </div>
    </div>
  </section>

{% endblock %}
