<footer class="footer">

  <div class="slider__wrapper wrapper wrapper--column">

 
   <div class="footer__main">
    <div class="footer__logo-wrap">
      <img class="footer__logo logo__img" src="img/logo.svg" alt="Logo"/>
      <img src="img/logo-heading.svg" class="logo__heading" alt="Logo"></img>
      <p class="footer__text">{{ footer__text }}</p>
    </div>

    <div class="footer__subscribe">
      <div class="footer__nav">
        <p class="footer__nav-heading">{{ nav__heading }}</p>
        <ul class="footer__nav-block">
          {% for item in footer_nav %}
            <li class="subscribe-nav__item">
              <a class="footer__link link" href="#">{{ item.link }}</a>
            </li>
          {% endfor %}
        </ul>
      </div>

      <div class="footer__info">
        <p class="footer__heading">{{ footer__heading }}</p>

        <ul class="footer__block-pages info-pages">
          {% for item in footer_pages %}
            <li class="info-pages__item">
              <a class="footer__link link" href="#">{{ item.link }}</a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
 

<div class="footer__bottom">
    <div class="footer__license-block">
      <small class="footer__license-text">{{ license_text }}</small>
    </div>

    <div class="footer__social">
      <ul class="footer__links-block social">
        {% for item in footer_social %}
          <li class="social__link">
            <a href="#"><img class="social__img" src="{{ item.src }}" alt="{{ item.alt }}"/></a>
          </li>
        {% endfor %}
      </ul>
  </div>
  </div>

  </div>
</footer>