/**
  * UI ELEMENTS
  */

.button {
    display: inline-block;
    padding: 10px 24px;
    font-size: 18px;
    line-height: 24px;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    border: 2px solid transparent;
    /* transition: .4s; */
    transition: border .25s, outline .25s;
}

.button--primary {
    background-color: var(--color-primary);
    color: rgba(245, 248, 251, 1);
}

.button--primary:hover {
    background-color: var(--color-primary-hover);
}

.button--primary:focus,
.button--primary:focus-visible {
    border-color: var(--color-focus-border);
    outline: 2px solid var(--color-primary-pressed);
    outline-offset: 0;
}


.button--secondary {
    border-color: rgba(208, 215, 251, 0.17);
    color: rgba(245, 248, 251, 1);
    background-color: transparent;
}

.button--secondary:hover {
    background-color: var(--color-secondary-hover);

}

.button--secondary:focus,
.button--secondary:focus-visible {
    border-color: var(--color-focus-border);
    outline: 2px solid var(--color-focus-border);
    outline-offset: 0;
}

.button__icon {
    display: inline-block;
    line-height: 20px;
    vertical-align: middle;

}

.button__icon--left {
    margin-right: 4px;
}

.label {
    display: inline-block;
    padding: 10px 24px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    color: var(--color-primary);
    background-color: var(--color-secondary);
}

.heading {
    font-weight: 400;
    font-size: 36px;
}

.label-description {
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
}

.icon {
    display: inline-block;
}

.autor-name .datetime {
    font-weight: 600;
    font-size: 14px;
    display: inline-block;
    line-height: 20px;
}

.link:hover {
    color: var(--color-primary-hover);

}

/**
  * SEARCH
  */
.search {
    position: relative;
    display: inline-block;
}

.search__input {
    background-color: var(--color-secondary-hover);

}

.search__input:hover {
    border-color: var(--color-primary-hover);
}

.search__input:focus,
.search__input:focus-visible {
    border-color: var(--color-focus-border);
    outline: 2px solid var(--color-focus-border);
    outline-offset: 0;
}

.search__input {
    padding-left: 38px;
    border: 2px solid var(--color-border-transparent);
    color: var(--color-border-transparent);
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    height: 48px;
    background: transparent;
}

.divider-vertical {
    position: relative;
}

.divider-vertical::after {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 2px;
    height: 24px;
    background-color: var(--color-border-transparent);
}

.divider-vertical--right {
    margin-right: 20px;
}

.divider-vertical--right::after {
    right: -15px;
}


/**
  *  END OF UI ELEMENTS
  */